<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog|Dashboard</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header class="header">
    <nav class="header_nav">
      <a class="header_nav-item" href="/homepage">Home</a>
      <a class="header_nav-item" href="/dashboard">Dashboard</a>
      <a class="header_nav-item" href="/login">Login</a>
    </nav>
     <h1 class="header_title">Tech Blog</h1>
  </header>
  <main class="main">
    <section class="blog_posts">
      
    </section>
  </main>
</body>

</html>